* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  /* max-width: 1140px;
  margin: 0 auto; */
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
}

/*********************************** Shared Styles ******************************/
:root {
  --bg-color: #f5f8ff;
  --primary-color: #e95a08;
  --title-color: #151515;
  --subtitle-color: rgba(0, 0, 0, 0.5);
  --max-width: 1140px;
  --margin-auto: 0 auto;
}
.btn-primary {
  width: 100%;
  padding: 8px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #a13d03;
}
.title-font {
  font-family: "Noto Serif", serif;
}

/************************** Navbar Styles **********************************/
.navbar {
  max-width: var(--max-width);
  margin: var(--margin-auto);
  margin-top: 50px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-content {
  display: flex;
  gap: 20px;
}
.menu-items ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.menu-items ul li a {
  text-decoration: none;
  color: var(--subtitle-color);
}
.cart-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

/**************************** Hero Section Styles ****************************/
.hero-container {
  max-width: var(--max-width);
  margin: var(--margin-auto);
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
  margin-bottom: 100px;
}
.hero-text h1 {
  font-size: 3.7rem;
  color: var(--title-color);
  margin-bottom: 10px;
}
.hero-title-span {
  color: var(--primary-color);
}
.hero-text p {
  color: var(--subtitle-color);
}
/* .hero-image img {
  width: 100%;
} */

/************************* Plants Section Styles ******************************/
.plants-container {
  max-width: var(--max-width);
  margin: var(--margin-auto);
  text-align: center;
  margin-bottom: 100px;
}
.plants-container > h1 {
  font-size: 3rem;
  color: var(--title-color);
  margin-bottom: 10px;
}
.plants-container-title-span {
  color: var(--primary-color);
}
.plants-container > p {
  color: var(--subtitle-color);
}
.cards-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-image {
  width: 100%;
}
.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
}
.card-price {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 600px;
  margin-bottom: 10px;
}
.cards {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/********************* Plants Lover section Styles ********************************/
.plants-lover-section {
  max-width: var(--max-width);
  margin: var(--margin-auto);
  position: relative;
}
.trusted-badge {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -130px;
  left: 330px;
}
.plants-lover-container {
  display: flex;
  gap: 90px;
  margin-top: 200px;
  align-items: center;
}
.plants-lover-text {
  flex: 1;
}
.plants-lover-image {
  flex: 1;
}
.plants-lover-title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.plants-lover-text ul li {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 20px;
  color: var(--subtitle-color);
}
.plants-lover-image > img {
  width: 100%;
}

/******************* latest deals section Styles ***************************/
.latest-deals-section {
  max-width: var(--max-width);
  margin: var(--margin-auto);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.latest-deals-section > h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}
.latest-deal-title-span {
  color: var(--primary-color);
}
.latest-deals-section > p {
  max-width: 888px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: var(--subtitle-color);
}
.deals-card-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  height: 420px;
}
.deals-card-left1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.637),
      rgba(0, 0, 0, 0.185)
    ),
    url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
}

.deals-card-right {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.637),
      rgba(0, 0, 0, 0.185)
    ),
    url(../assets/deal-zabo.png);
  grid-column: 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
}
.deals-card-left2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.637),
      rgba(0, 0, 0, 0.185)
    ),
    url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
}
.content-left2 h1,
.content-left1 h1 {
  margin-bottom: 8px;
  font-size: 1.2rem;
}
.content-right h1 {
  margin-bottom: 15px;
  font-size: 2.2rem;
}
.content-left2 a,
.content-left1 a,
.content-right a {
  color: white;
}

/********************************** Join Section ************************************/
.join-section {
  text-align: center;
  margin-bottom: 100px;
  height: 530px;
  width: 100%;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-section-container {
  width: 830px;
}
.join-section-title {
  font-size: 3rem;
  color: white;
  margin-bottom: 20px;
}
.join-form {
  width: 100%;
}
form.join-form input[type="email"] {
  padding: 10px;
  font-size: 1rem;
  float: left;
  width: 80%;
  background: #ffffff;
  border: none;
}
form.join-form button {
  float: left;
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
}

/****************************** footer container Styles **********************************/
.footer-container {
  max-width: var(--max-width);
  margin: var(--margin-auto);
  display: flex;
  gap: 70px;
  margin-bottom: 100px;
}
.footer-logo {
  color: var(--subtitle-color);
  flex: 1;
}
.footer-nav {
  color: var(--subtitle-color);
  flex: 1;
}
.footer-features {
  color: var(--subtitle-color);
  flex: 1;
}
.footer-logo > p {
  margin-top: 10px;
}
.footer-nav-ul li {
  margin-bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.footer-features-ul li {
  margin-bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.footer-social-icon-container {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

/******************************************   Responsive Media Query    ***************************/
@media screen and (max-width: 576px) {
  .navbar-container {
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .navbar {
    margin-top: 30px;
  }
  .logo > img {
    width: 80%;
  }
  .menu-items ul {
    visibility: hidden;
  }
  .hero-container {
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
  }
  .hero-text > h1 {
    font-size: 1.5rem;
  }
  .hero-image img {
    width: 100%;
  }
  .plants-container {
    width: 100%;
    padding: 20px;
  }
  .plants-container > p {
    width: 100%;
    padding: 20px;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .cards {
    width: 100%;
  }
  .cards img {
    width: 100%;
  }
  /* plants lover Section responsive */
  .plants-lover-section {
    width: 100%;
  }
  .trusted-badge {
    visibility: hidden;
  }
  .plants-lover-container {
    flex-direction: column;
    width: 100%;
  }

  .plants-lover-title {
    font-size: 1.5rem;
  }
}
